<head>
    <link rel="stylesheet" href="/styles/userprofile.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="/styles/task.css" media="screen" title="no title" charset="utf-8">

</head>
<div class="container-fluid">
    <div class="row">
        <!-- Button trigger modal -->
        <button data-toggle="modal" data-target="#exampleModal" type="button" class="btn offset-md-2 profile">
            <img>
        </button>
        <div class="details d-flex align-items-center  py-3 col-lg-5">
            <div class="col-lg-12">
                <h1 class="name">First Lastname</h1>
                <label>Email</label>
                <input type="text" value="ting820831@gmail.com" class="">

                <br>

                <label>Password</label>
                <input type="text" value="123456" class="">
            </div>
        </div>
    </div>