<!-- Sidebar -->
<div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading"><img src="images/logo.png" alt=""> </div>
    <div class="list-group list-group-flush">
        <a href="/dashboard" class="list-group-item list-group-item-action active">Dashboard</a>
        <a href="/inbox" class="list-group-item list-group-item-action bg-light">Inbox</a>
        <a href="/notifications" class="list-group-item list-group-item-action bg-light">Notifications</a>
        <a href="userprofile" class="list-group-item list-group-item-action bg-light">Profile</a>
    </div>
</div>
