<!-- Sidebar -->
<div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading"><img src="images/logo.png" alt=""> </div>
    <div class="list-group list-group-flush">
        <a href="#" class="list-group-item list-group-item-action active">Dashboard</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Inbox</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Notifications</a>
        {{!-- <div><span>Spaces</span></div> --}}
        <a href="#" class="list-group-item list-group-item-action bg-light">Profile</a>
    </div>
</div