<div id="taskDash" class="flex-direction"
    style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-around;">

    <div class="card-sort" style="max-width: 300px; min-width: 300px;">
        <div class="card" style="max-width: 300px;">

            <div class="card-body">
                <h5 class="card-title editTextTitle">Not a Card title</h5>
                <p class="card-text editTextP" style="overflow: auto;">Some quick example
                    text to build on the
                    card title and make
                    up the bulk of the
                    card's
                    content.</p>
            </div>
            <button class="addButton" style="position: absolute; bottom: 0;
            left: 10px;" id="#addButton"><i class="fas fa-plus-square"></i></button>
        </div>
    </div>

    <div class="card-sort" style="max-width: 300px; min-width: 300px;">
        <div class="card" style="max-width: 300px;">

            <div class="card-body">
                <h5 class="card-title editTextTitle">Not a Card title</h5>
                <p class="card-text editTextP" style="overflow: auto;">Some quick example
                    text to build on the
                    card title and make
                    up the bulk of the
                    card's
                    content.</p>
            </div>
            <button class="addButton" style="position: absolute; bottom: 0;
            left: 10px;" id="#addButton"><i class="fas fa-plus-square"></i></button>
        </div>
    </div>

    <div class="card-sort" style="max-width: 300px; min-width: 300px;">
        <div class="card" style="max-width: 300px;">

            <div class="card-body">
                <h5 class="card-title editTextTitle">Not a Card title</h5>
                <p class="card-text editTextP" style="overflow: auto;">Some quick example
                    text to build on the
                    card title and make
                    up the bulk of the
                    card's
                    content.</p>
            </div>
            <button class="addButton" style="position: absolute; bottom: 0;
            left: 10px;" id="#addButton"><i class="fas fa-plus-square"></i></button>
        </div>
    </div>
</div>
<script src="../js/task.js"></script>
