<header>
    <h1>Projects</h1>
</header>
<hr>
<div id="taskDash" class="flex-direction"
    style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-around;">
    <div class="Started page-header">
        <h3>Started</h3>
        <div class="card-sort started" style="max-width: 300px; min-width: 300px;">
            <div class="card" style="max-width: 300px;"> <a style="position: absolute; right: 10px; bottom: 0px;"
                    class="close" href="#"><i style="color: grey; font-size: 20px;" class="fas fa-minus-square"></i></a>

                <div class="card-body started">
                    <h5 class="card-title started editTextTitle">Not a Card title</h5>
                    <p class="card-text started editTextP" style="overflow: auto;">Some quick example
                        text to build on the
                        card title and make
                        up the bulk of the
                        card's
                        content.</p>
                </div>
                <button class="addButton" style="cursor: pointer; background: none; border: none; position: absolute; bottom: 0;
                left: 10px;"><i style="color: grey; font-size: 20px;" class="fas fa-plus-square"></i></button>
            </div>
        </div>
        <div class="card-sort started" style="max-width: 300px; min-width: 300px;">
            <div class="card" style="max-width: 300px;"> <a style="position: absolute; right: 10px; bottom: 0px;"
                    class="close" href="#"><i style="color: grey; font-size: 20px;"
                        class="fas fa-minus-square fa-sm"></i></a>

                <div class="card-body started">
                    <h5 class="card-title started editTextTitle">Not a Card title</h5>
                    <p class="card-text started editTextP" style="overflow: auto;">Some quick example
                        text to build on the
                        card title and make
                        up the bulk of the
                        card's
                        content.</p>
                </div>
                <button class="addButton" style="background: none; border: none; position: absolute; bottom: 0;
                        left: 10px;"><i style="color: grey; font-size: 20px;" class="fas fa-plus-square"></i></button>
            </div>
        </div>
        <div class="card-sort started" style="max-width: 300px; min-width: 300px;">
            <div class="card" style="max-width: 300px;"> <a style="position: absolute; right: 10px; bottom: 0px;"
                    class="close" href="#"><i style="color: grey; font-size: 20px;" class="fas fa-minus-square"></i></a>

                <div class="card-body started">
                    <h5 class="card-title started editTextTitle">Not a Card title</h5>
                    <p class="card-text started editTextP" style="overflow: auto;">Some quick example
                        text to build on the
                        card title and make
                        up the bulk of the
                        card's
                        content.</p>
                </div>
                <button class="addButton" style="background: none; border: none; position: absolute; bottom: 0;
                        left: 10px;"><i style="color: grey; font-size: 20px;" class="fas fa-plus-square"></i></button>
            </div>
        </div>
    </div>
    <div class="To-do page-header">
        <h3>To-do</h3>
        <div class="card-sort todo" style="max-width: 300px; min-width: 300px;">
            <div class="card" style="max-width: 300px;"> <a style="position: absolute; right: 10px; bottom: 0px;"
                    class="close" href="#"><i style="color: grey; font-size: 20px;" class="fas fa-minus-square"></i></a>

                <div class="card-body">
                    <h5 class="card-title editTextTitle">Not a Card title</h5>
                    <p class="card-text editTextP" style="overflow: auto;">Some quick example
                        text to build on the
                        card title and make
                        up the bulk of the
                        card's
                        content.</p>
                </div>
                <button class="addButton" style="background: none; border: none; position: absolute; bottom: 0;
                left: 10px;"><i style="color: grey; font-size: 20px;" class="fas fa-plus-square"></i></button>
            </div>
        </div>
        <div class="card-sort todo" style="max-width: 300px; min-width: 300px;">
            <div class="card" style="max-width: 300px;"> <a style="position: absolute; right: 10px; bottom: 0px;"
                    class="close" href="#"><i style="color: grey; font-size: 20px;" class="fas fa-minus-square"></i></a>

                <div class="card-body">
                    <h5 class="card-title editTextTitle">Not a Card title</h5>
                    <p class="card-text editTextP" style="overflow: auto;">Some quick example
                        text to build on the
                        card title and make
                        up the bulk of the
                        card's
                        content.</p>
                </div>
                <button class="addButton" style="background: none; border: none; position: absolute; bottom: 0;
                        left: 10px;"><i style="color: grey; font-size: 20px;" class="fas fa-plus-square"></i></button>
            </div>
        </div>
        <div class="card-sort todo" style="max-width: 300px; min-width: 300px;">
            <div class="card" style="max-width: 300px;"> <a style="position: absolute; right: 10px; bottom: 0px;"
                    class="close" href="#"><i style="color: grey; font-size: 20px;" class="fas fa-minus-square"></i></a>

                <div class="card-body">
                    <h5 class="card-title editTextTitle">Not a Card title</h5>
                    <p class="card-text editTextP" style="overflow: auto;">Some quick example
                        text to build on the
                        card title and make
                        up the bulk of the
                        card's
                        content.</p>
                </div>
                <button class="addButton" style="background: none; border: none; position: absolute; bottom: 0;
                        left: 10px;"><i style="color: grey; font-size: 20px;" class="fas fa-plus-square"></i></button>
            </div>
        </div>
    </div>
    <div class="Done page-header">
        <h3>Done</h3>
        <div class="card-sort done" style="max-width: 300px; min-width: 300px;">
            <div class="card" style="max-width: 300px;"> <a style="position: absolute; right: 10px; bottom: 0px;"
                    class="close" href="#"><i style="color: grey; font-size: 20px;" class="fas fa-minus-square"></i></a>

                <div class="card-body">
                    <h5 class="card-title editTextTitle">Not a Card title</h5>
                    <p class="card-text editTextP" style="overflow: auto;">Some quick example
                        text to build on the
                        card title and make
                        up the bulk of the
                        card's
                        content.</p>
                </div>
                <button class="addButton" style="background: none; border: none; position: absolute; bottom: 0;
                left: 10px;"><i style="color: grey; font-size: 20px;" class="fas fa-plus-square"></i></button>
            </div>
        </div>
        <div class="card-sort done" style="max-width: 300px; min-width: 300px;">
            <div class="card" style="max-width: 300px;"> <a style="position: absolute; right: 10px; bottom: 0px;"
                    class="close" href="#"><i style="color: grey; font-size: 20px;" class="fas fa-minus-square"></i></a>

                <div class="card-body">
                    <h5 class="card-title editTextTitle">Not a Card title</h5>
                    <p class="card-text editTextP" style="overflow: auto;">Some quick example
                        text to build on the
                        card title and make
                        up the bulk of the
                        card's
                        content.</p>
                </div>
                <button class="addButton" style="background: none; border: none; position: absolute; bottom: 0;
                        left: 10px;"><i style="color: grey; font-size: 20px;" class="fas fa-plus-square"></i></button>
            </div>
        </div>
        <div class="card-sort done" style="max-width: 300px; min-width: 300px; position: relative;">
            <div class="card" style="max-width: 300px;"> <a style="position: absolute; right: 10px; bottom: 0px;"
                    class="close" href="#"><i style="color: grey; font-size: 20px;" class="fas fa-minus-square"></i></a>

                <div class="card-body">
                    <h5 class="card-title editTextTitle">Not a Card title</h5>
                    <p class="card-text editTextP" style="overflow: auto;">Some quick example
                        text to build on the
                        card title and make
                        up the bulk of the
                        card's
                        content.</p>
                </div>
                <button class="addButton" style="background: none; border: none; position: absolute; bottom: 0;
                        left: 10px;"><i style="color: grey; font-size: 20px;" class="fas fa-plus-square"></i></button>
            </div>
        </div>
    </div>
</div>
<script src="../js/task.js"></script>
