<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="/styles/login.css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="/styles/index.css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="/styles/inbox.css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="/styles/userprofile.css" media="screen" title="no title" charset="utf-8">

  <link href="https://fonts.googleapis.com/css?family=Ibarra+Real+Nova|Roboto&display=swap" rel="stylesheet">

  <title>Home Page</title>
</head>

<body>
  {{{body}}}
</body>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

</html>