<div class="container-fluid">
  <div class="row">
    {{> slidebar }}
    <div id="right-content" class="col-lg-10 text-center align-items-center">
      <nav class="navbar navbar-expand-lg navbar-light bg-light nav nav-tabs">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
          aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
          <a class="navbar-brand" href="#">Setting Up</a>
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active presentation">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                aria-expanded="false">List <span class="caret"></span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Board</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Calendar</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
      <div class="navbar dragbox col-lg-12 d-flex justify-content-end">
        <ul id="sortable1" class="col-lg-4 list-group droptrue d-flex" style="cursor:pointer;">
          <li class="list-group-item active drag-disabled" id="column-header">CONCEPT<span class="badge badge-danger badge-pill">14</span></li>
          <li class="list-group-item clickme">Task1</li>
          <li class="list-group-item clickme">Task2</li>
          <li class="list-group-item clickme">Task3</li>
        </ul>
        <ul id="sortable2" class="col-lg-4 list-group dropfalse d-flex" style="cursor:pointer;">
          <li class="list-group-item active drag-disabled" id="column-header">IN PROGRESS<span class="badge badge-danger badge-pill">2</span></li>
          <li class="list-group-item clickme">Task4</li>
          <li class="list-group-item clickme">Task5</li>
          <li class="list-group-item clickme">Task6</li>
        </ul>
        <ul id="sortable3" class="col-lg-4 list-group dropfalse d-flex" style="cursor:pointer;">
           <li class="list-group-item active drag-disabled" id="column-header">UPDATE<span class="badge badge-danger badge-pill">5</span></li>
          <li class="list-group-item clickme">Task7</li>
          <li class="list-group-item clickme">Task8</li>
          <li class="list-group-item clickme">Task9</li>
        </ul>
        </nav>
      
      </div>
    </div>
    <hr>
    </div>
    <script src="js/dashboard.js"></script>
  