<div class="container-fluid">
  <div class="row">
    {{> slidebar }}
    <div id="right-content" class="col-lg-10 text-center align-items-center">
      {{> task }}
    </div>
    <hr>
  </div>
</div>
<script src="js/dashboard.js"></script>