<div class="container-fluid">
    <div class="row">
        <div class="d-flex" id="wrapper">
            {{> slidebar }}
        </div>
    </div>
    <div class="profile">
        <div>Profile</div>
    </div>

</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="js/profile.js"></script>