<div class="container-fluid">
    <div class="row">
        <div class="d-flex" id="wrapper">
            {{> slidebar }}
        </div>
        <div id="right-content" class="col-lg-10 text-center align-items-center">
            <div class="profile text-left">
                <p>Profile</p>
            </div>
            <div class="text-left">
                <form>
                    <div class="userprofile form-group">
                        <label for="InputName">Full Name</label>
                        <input type="text" class="form-control" id="InputName" placeholder="Enter Username">
                        <label for="InputEmail">Email address</label>
                        <input type="email" class="form-control" id="InputEmail" aria-describedby="emailHelp"
                            placeholder="Enter email">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                            else.</small>
                        <label for="InputPassword">Password</label>
                        <input type="password" class="form-control" id="InputPassword" placeholder="Password">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="Check">
                            <label class="form-check-label" for="Check">Remember Me</label>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                </form>

            </div>
        </div>

    </div>
</div>

</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="js/profile.js"></script>