textarea {
  width: 100%;
}
.fa-plus-square {
  color: grey;
  text-shadow: 1px 1px 1px #ccc;
  font-size: 3rem;
}

.fa-minus-square {
  color: grey;
  text-shadow: 1px 1px 1px #ccc;
  font-size: 3rem;
}
